@page
@model LibreriaJoelito.Pages.MostrarProductosModel
@{
}
<h1>Lista Productos </h1>

<!--
Codigo comentado para hacer un boton de crear producto
<div>
    <a asp-page="CrearProducto" class="btn btn-primary">Nuevo Producto</a>
</div>
-->

<table class="table">
    <thead>
        <tr>
            <th>Nombre del Producto</th>
            <th>Categoria</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Tipo de Venta</th>
            <th>Factor de Conversion</th>
            <th>Producto Base</th>
            <th>Fecha de Registro</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (System.Data.DataRow row in Model.ProductosDataTable.Rows)
        {
            <tr>
                <td>@row["Nombre"]</td>
                <td>@row["Categoria"]</td>
                <td>@row["Precio"]</td>
                <td>@row["Stock"]</td>
                <td>@row["Tipo_Venta"]</td>
                <td>@row["Factor_Conversion"]</td>
                <td>@row["Id_Producto_Base"]</td>
                <td>@row["FechaRegistro"]</td>
                <td>
                    <a asp-route-id="@row["id"]" class="btn btn-warning btn-sm">Editar</a>
                    <form method="post" asp-page-handler="Delete" style="display:inline;">
                        <input type="hidden" name="id" value="@row["Id"]" />

                        <button type="submit"
                                class="btn btn-danger btn-sm"
                                onclick="return confirm('¿Desea eliminar el producto @row["Nombre"] ?');">
                            Eliminar
                        </button>
                    </form>
                </td>
            </tr>
        }


    </tbody>
</table>
