@page
@model LibreriaJoelito.Pages.ProductoCreateModel
@{
}
<h2>Nuevo Producto</h2>

<form method="post">
    <div class="form-group">
        <label>Categoría</label>
        <input asp-for="@Model.Categoria" type="text" required class="form-control"/>
    </div>

    <div class="form-group">
        <label>Nombre</label>
        <input asp-for="@Model.Nombre" type="text" required class="form-control" />
    </div>

    <div class="form-group">
        <label>Precio</label>
        <input asp-for="@Model.Precio" type="number" step="any" required class="form-control" />
    </div>

    <div class="form-group">
        <label>Stock</label>
        <input asp-for="@Model.Stock" type="number" required class="form-control" />
    </div>

    <div class="form-group">
        <label>Tipo de Venta</label>
        <input asp-for="@Model.TipoVenta" type="text" required class="form-control" />
    </div>

    <div class="form-group">
        <label>Facto de Conversión</label>
        <input asp-for="@Model.FactorConversion" type="number" step="any" required class="form-control" />
    </div>
    <div class="form-group">
        <label>Producto Base</label>

        <select asp-for="@Model.IdProductoBase" class="form-control">
            <option value="null">Seleccione un producto base</option>

            @foreach (System.Data.DataRow row in Model.ProductosDataTable.Rows)
            {
                <option value="@row["Id"]">
                    @row["Nombre"]
                </option>
            }
        </select>

    </div>

    <button type="submit" class="btn btn-primary" style="margin: 10px 0;">Guardar</button>
    <a asp-page="MostrarProductos" class="btn btn-secondary" style="margin: 10px 0;">Volver</a>
</form>