@page
@model LibreriaJoelito.Pages.Empleados.EmpleadoGetModel
@{
	ViewData["Title"] = "Empleados";
}

<div class="content-area">

	<div class="page-container">

		<div class="tabla-header">

			<div class="tabla-titulo">
				Lista de Empleados
			</div>

			<div class="tabla-acciones">
				<a asp-page="EmpleadoCreate" class="btn btn-primary btn-sm">
					Añadir Empleado
				</a>
			</div>

		</div>
			<div class="table-responsive">

				<table class="tabla-sistema table-hover table-bordered">
	 <thead>
		<tr>
			<th>Nombre</th>
			<th>Apellido Paterno</th>
			<th>Apellido Materno</th>
			<th>Ci</th>
			<th>Fecha de Nacimiento</th>
			<th>Email</th>
			<th>Dirección</th>
			<th>Celular</th>
			<th>Fecha Ingreso</th>
		</tr>
	</thead>

	<tbody>
		@foreach (System.Data.DataRow row in Model.EmpleadoDataTable.Rows)
		{
			<tr>
				<td>@row["Nombre"]</td>
				<td>@row["ApellidoPaterno"]</td>
				<td>@row["ApellidoMaterno"]</td>
				<td>@(row["Ci"] + "-" + row["Complemento"])</td>
				<td>@row["FechaNacimiento"]</td>
				<td>@row["Email"]</td>
				<td>@row["DireccionDomicilio"]</td>
				<td>@row["Telefono"]</td>
				<td>@row["FechaIngreso"]</td>										
				<td>
					<a asp-page="EmpleadoUpdate" asp-route-id="@row["Id"]" class="btn btn-warning btn-sm">Editar</a>
					<a asp-page="EmpleadoDelete" asp-route-id="@row["Id"]" class=" btn btn-warning btn-sm">Eliminar</a>
				</td>
			</tr>
		}
	</tbody>
   </table>
 </div>
  </div>
</div>